@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Inter";
}

:root {
  --featureColor: hsl(214.3 31.8% 91.4%);
  --headerAndFooter: #FEEFCD;
  --cardBorder: 1px solid black;
  --cardDescriptionText: hsl(215.4 16.3% 46.9);
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.heroSection {
  align-items: center;
  background-color: var(--headerAndFooter);
  border-bottom: var(--cardBorder);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 9rem 0.75rem;
}

.heroTitle {
  color: #FF7F00;
  font-size: 3rem;
  font-weight: 700;
}

.heroSubtitle, .featureDescription, .featureCardDescription, .resourceDescription {
  color: var(--cardDescriptionText);
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
}

.featureDescription {
  font-size: 1.125rem;
}

.featureCardDescription {
  font-size: 1rem;
  text-align: left;
}

.featuresSection {
  align-items: center;
  /* background-color: hsl(210 40% 96.1%); */
  border-color: var(--featureColor);
  display: flex;
  flex-direction: column;
  padding: 4rem 0.75rem;
}

.featureSeparator {
  margin-bottom: 3rem;
  max-width: 768px;
}

.featureSeparator>* {
  text-align: center;
}

.featureHeader {
  color: #ff9831;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-color: var(--featureColor);
}

.featureSubheader {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.featureGrid, .teamGrid {
  border: var(--featureColor);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25em;
  margin: 0 2.5em;
}

.featureGridMax {
  margin: auto;
  max-width: 1024px;
}

.featureCard {
  padding: 1.25rem;
  background-color: hsl(0 0% 100%);
  border-color: var(--featureColor);
  border-width: 1px;
  border-radius: 0.75rem;
  border: 0.25px solid black;
  box-shadow: 0px 0px 2.5px black;
  padding: 1.25rem;
  height: 100%;
  transition: 0.25s;
}

.featureCard:hover {
  box-shadow: 2.5px 2.5px 2.5px black;
}


.featureCardIcon {
  background: linear-gradient(135deg, rgba(255,127,0,1) 0%, rgba(255,206,96,1) 100%);
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
}

.featureCardTitle, .resourceTitle {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
}

.featureCardLine {
  display: block;
  border-top-width: 1px;
  width: 2rem;
  border-color: rgb(252, 210, 132);
  border-style: solid;
  margin: 0.75rem 0;
}

.footerSection {
  background-color: var(--headerAndFooter);
  border-top: var(--cardBorder);
  padding: 0 0.75rem 4rem;
}

.footerDescription {
  border-top: 1px solid lightgray;
  color: var(--cardDescriptionText);
  text-align: center;
  padding: 1rem 0;
}

.footerDescription a {
  color: rgb(59 130 246 / 1)
}

.downloadButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.resourceButton {
  border-radius: 0.75rem;
  border: 0.25px solid black;
  box-shadow: 0px 0px 2.5px black;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  transition: 0.25s;
}

.resourceButton:hover {
  box-shadow: 2.5px 2.5px 2.5px black;
}

.resourceButton>div>* {
  text-align: left;
}

.resourceIcon {
  background-color: whitesmoke;
  border-radius: 100px;
  height: 100px;
  width: 100px;
}

.resourceDescription {
  font-size: 16px;
}

.sectionSeparator {
  border-top: 5px dotted grey;
  margin: 0 2.5em;
}

.teamCard {
  border-radius: 0.75rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  padding: 0.5rem;
}

.teamCard>img {
  box-shadow: 0px 0px 2.5px black;
  border-radius: 50% 20% / 15% 40%;
  height: 550px;
  width: 400px;
}

.teamCardName {
  border-bottom: 3px solid rgb(252, 210, 132);;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.25em 0;
  width: fit-content;
}

.teamCardDescription {
  color: var(--cardDescriptionText);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}